<div class="container">
  <h1>Flickr Photo Stream</h1>

  <cdk-virtual-scroll-viewport [itemSize]="46">
    <div class="photos">
      <div class="photo animated fadeInLeft" *cdkVirtualFor="let d of photo">
        <div class="ct-photos">
          <div class="image">
            <div class="ct-image">
              <a href="https://www.flickr.com/photos/{{d.owner}}/{{d.id}}" target="_blank"><img [src]="d.url_m" [alt]="d.title" /></a>
            </div>
          </div>
          <div class="image-info">
            <div class="title">
              <a href="https://www.flickr.com/photos/{{d.owner}}/{{d.id}}" target="_blank">{{d.title | truncate : 10}}</a> by <a target="_blank" href="https://www.flickr.com/people/{{d.owner}}" >{{d.ownername | truncate : 10}}</a>
            </div>
            <div class="description" *ngIf="d.description._content">
              <strong>Description:</strong> {{d.description._content | truncate : 50}}
            </div>
            <div class="no_description" *ngIf="!d.description._content">
              <strong>Description:</strong> No description!
            </div>
            <div class="tags" *ngIf="d.tags">
              <strong>Tags:</strong> {{d.tags | truncate : 20 : true}}
            </div>
            <div class="no_tags" *ngIf="!d.tags">
              <strong>Tags:</strong> No tags!
            </div>
          </div>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
